/*.App {
  background-color: "#fcdfbd";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

*/

.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.month-header {
 display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.HeaderButton{
  margin: 2vh 2vw;
  padding: 0 4px;
  background-color:rgb(121, 161, 161);

}

.days-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
 
  
}

.day {
  padding-bottom: 10px;
  max-width: 12vw;
  max-height: 12vh;
  min-width: 12vw;
  min-height: 12vh;
  border: 1px solid black;
  text-align: center;
}

.selected {
  background-color:darkgray;
}

.Add-Task {
 
 font-size: 40px;
  cursor: pointer;
  color:rgb(121, 161, 161);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;

}

input {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

button {
  margin: 5px;
}


